<!-- <sp-menu></sp-menu> -->
<!-- <sp-navigation></sp-navigation> -->
 <sp-nav></sp-nav>

 <!-- <sp-three-viewer
  [modelUrls]="[
    '/assets/Beetle.glb',
    '/assets/Beetle.glb',
    '/assets/Beetle.glb'
  ]"
></sp-three-viewer> -->

<sp-puzzle-game></sp-puzzle-game>
<!-- <app-gallery></app-gallery> -->

 <nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home Component</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Component</a></li>
    <li><a routerLink="/example" routerLinkActive="active" ariaCurrentWhenActive="page">example Component</a></li>
  </ul>
</nav>

<router-outlet />
