<div class="container">
  <div class="puzzle-wrapper">
    <div class="cells">
      @for (piece of pieces(); track trackByIndex) {
      <div
        class="draggable"
        [attr.draggable]="true"
        (dragstart)="onDragStart(piece.index)"
        [style.top]="piece.pos.top + 'vw'"
        [style.left]="piece.pos.left + 'vw'"
        [style.background-image]="'url(' + baseImage() + ')'"
        [style.background-position]="
          '-' + piece.bg.left + 'vw ' + '-' + piece.bg.top + 'vw'
        "
      ></div>
      }
    </div>

    <div class="puzzle">
      @for (cell of puzzleGrid(); track trackByIndex) {
      <div
        class="puzzle-cell"
        [attr.data-index]="cell.index"
        (dragover)="onDragOver(cell.index); $event.preventDefault()"
        (dragleave)="onDragLeave(cell.index)"
        (drop)="onDrop(cell.index)"
        [class.active]="hoveredCell() === cell.index"
      >
        @if (cell.placed != null) {
        <div
          class="draggable"
          [attr.draggable]="true"
          (dragstart)="onDragStart(cell.placed!)"
          [style.background-image]="'url(' + baseImage() + ')'"
          [style.background-position]="
            '-' +
            bgPositions()[cell.placed!].left +
            'vw -' +
            bgPositions()[cell.placed!].top +
            'vw'
          "
        ></div>
        }
      </div>
      }
    </div>

    <div
      class="final-img"
      [style.background-image]="'url(' + baseImage() + ')'"
    >
      <div class="btns">
        <button class="btn" (click)="resetGame()">Random image</button>
        <label for="file-upload" class="btn">Upload Image</label>
      </div>
      <input
        type="file"
        accept="image/jpeg, image/png, image/jpg"
        id="file-upload"
        (change)="handleImageUpload($event)"
      />
    </div>
  </div>

  @if (showModal()) {
  <div class="modal">
    <div class="modal-content">
      <h2 class="modal-heading">Game Over</h2>
      <h3 class="modal-text">
        @if (won()) { YOU WON 😍.
        <span class="attempt">{{ wrong() }}</span> wrong attempts } @else { You
        Lost 😢. Please Try Again }
      </h3>
      <button class="modal-btn btn" (click)="resetGame()">Start Again</button>
    </div>
  </div>
  }

  <h1 class="heading">Puzzle Quest</h1>
</div>
